.form {
	padding-top: 15px;
}

.form-control {
	width: 100px;
	padding: 0 12px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 30px;
	user-select: none;
	margin: 0px;
}
.form-control:focus {
	border: 1px solid rgba(31, 32, 65, 0.5);
	outline: 0;
	outline-offset: 0;
}

.label {
	padding-bottom: 2px;
	width: 175px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 45px;
}

table {
	margin-top: 30px;
	border: 1px solid black;
	border-collapse: collapse;
}

table td {
	border: 1px solid black;
	padding: 4px;
}

button {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white;
	color: black;
	border: 1px solid black;
}

#final:hover {
	background: rgb(221, 221, 221);
}

select {
	overflow: hidden;
	outline: none;
	height: 30px;
	width: 350px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
}
